.my-layout {
    height: 100%;
    .ant-layout-has-sider {
        height: 100% !important;
        .ant-layout-sider {
            background-color: skyblue;
        }
        .ant-layout {
            .ant-layout-footer {
                background-color: springgreen;
            }
        }
    }
}